body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-image: url("https://images.unsplash.com/photo-1641002487920-0c3d5ca4573e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1089&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 104%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

.timeOptions,.dateOptions
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.active
{
  background-color: skyblue!important;
}

#cancel
{
  margin-left: 100px;
}